#footer {
  .navbar-brand {
    z-index:1;
    display:block;
    html.no-flexbox &{
      display:none;
    }
  }
  .lang_switcher {
    color:#fff;
  }
  .nav-link {
    @include underliner($brightblue, 1px, -5px);
  }
  .slogan {
    margin-top: 40px;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 31px;
    font-weight: 100 !important;
    max-width:300px;
  }
  .bg-black {
    padding-top: 30px;
    padding-bottom: 30px;
    @include media-breakpoint-up(md) {
      padding-top: 80px;
      padding-bottom: 80px;
    }
    @include media-breakpoint-down(md) {
      .col1 {
        text-align: center;
        .slogan {
          max-width:none;
          margin-top:0;
        }
        .navbar-brand {
          display:none;
        }
      }
      .col2,.col3 {
        display: none;
      }
      .col4 {
        ul { display:none; }
        .social {
          text-align: center;
          margin:auto;
        }
      }
    }
    @include media-breakpoint-only(xl) {
      padding:80px 30px;
    }
  }
  ul {
    margin: 0;
    li {
      margin-bottom: 15px;
    }
  }
  .btn {
    @extend .no-shadow;
  }
  li a, .social a {
    color: #B2B2B2;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 19px;
    padding: 0 !important;
  }
  #menu-footer3 {
    a {
      text-transform: none;
    }
  }
  .social {
    margin-top: 40px;
    a {
      margin: 0 12px 0 12px !important;
      @include media-breakpoint-up(md) {
        margin: 0 12px 0 0 !important;
      }
      font-weight: normal !important;
    }
  }
  .subfooter {
    height:52px;
    line-height:52px;
    font-size:12px;
    color:$lightgray;
  }

  .minimal {
    color: #9b9b9b;
    display: inline-block;
    margin-left: 30px;
    line-height: 20px;
    padding-left: 27px;
    background: url(/wp-content/themes/dymedso/assets/img/minimal.gif) no-repeat left;
  }

}

/*#chooseregion {
  .modal-dialog {
    margin:auto;
  }
  .nowrap { white-space: nowrap; }
  &.show {
    height:100vh;
    display: flex !important;
    align-items: center;
  }
  .btn {
    cursor: pointer;
  } 
}*/
