.form-control {
  min-height: 50px !important;
  &#s {
    min-height: 40px !important;
    height: 40px !important;
  }
  width: 100% !important;
  border: 1px solid $trueblue;
  border-radius: 3px !important;
  padding: 15px;
  font-family: Roboto;
  font-size: 12px !important;
  font-weight: 300;
  line-height: 15px;
}

.gform_body {
  label {
    display: none !important;
  }
  .form-control::placeholder {
    color: $gray;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 300;
    line-height: 15px;
  }
}

.gfield {
  display: block;
}

.gform_footer {
  @extend .text-right;
}

.gform_button.button.btn.btn-primary {
  margin-left: auto;
  margin-right: 15px;
}

.gform_confirmation_wrapper {
  @extend .alert;
  @extend .alert-success;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.gsection {
  margin: 0 !important;
  padding: 0 0 0 15px !important;
  border: 0 !important;
  h2 {
    color: $gray !important;
    font-size: 16px !important;
    line-height: 42px !important;
  }
}

.ginput_container {
  input, textarea, select {
    @extend .form-control;
  }
}

.ginput_container.ginput_container_radio {
  margin-top: 0;
  label {
    line-height: 32px;
  }
  input {
    min-width: 32px;
    width: 32px !important;
    height: 32px !important;
  }
}

.ginput_container.ginput_container_singleproduct {
  label {
    display: block !important;
  }
}

.ginput_container_textarea {
  textarea {
    padding:15px !important;
  }
}

.ginput_container_fileupload,.ginput_container_fileupload input {
  border:none !important;
  border-color:#fff !important;
}

#gform_1 {
  .form-control {
    max-width: none !important;
  }
  #gform_fields_1 {
    @extend .row;
  }
  #field_1_1, #input_1_1 {
    @extend .col-md-6;
    @include media-breakpoint-up(md) {
      margin-right: 100%;
    }
  }
  #field_1_12, #input_1_12 {
    @extend .col-md-6;
    @include media-breakpoint-up(md) {
      margin-right: 100%;
    }
  }
  #field_1_8, #input_1_8 {
    @extend .col-md-6;
  }
  #field_1_9, #input_1_9 {
    @extend .col-md-6;
  }
  #field_1_7, #input_1_7 {
    @extend .col-md-12;
  }
  #field_1_4, #input_1_4 {
    @extend .col-md-6;
  }
  #field_1_6, #input_1_6 {
    @extend .col-md-6;
  }
  #field_1_10, #input_1_10 {
    @extend .col-md-6;
  }
  .gform_footer {
    @extend .col-md-12;
  }
}

#gform_submit_button_1 {
  @extend .btn;
  @extend .btn-primary;
}

#gform_2 {
  .form-control {
    max-width: none !important;
  }
  #gform_fields_2 {
    @extend .row;
  }
  #field_2_1, #input_2_1 {
    @extend .col-md-6;
  }
  #field_2_2, #input_2_2 {
    @extend .col-md-6;
  }
  #field_2_3, #input_2_3 {
    @extend .col-md-6;
  }
  #field_2_4, #input_2_4 {
    @extend .col-md-6;
  }
  #field_2_5, #input_2_5 {
    @extend .col-md-12;
  }
  #field_2_6, #input_2_6 {
    label {
      display: block !important;
    }
    @extend .col-md-6;
    max-width: none !important;
    input {
      padding-left: 0 !important;
    }
  }
  .gform_footer {
    margin-right: 0;
    margin-left: auto;
    @include media-breakpoint-up(md) {
      margin-top: -50px;
    }
    input {
      margin-right: 0;
    }
    @extend .col-md-6;
  }
}

#gform_submit_button_2 {
  @extend .btn;
  @extend .btn-primary;
  margin-right: 0 !important;
}

#gform_3 {
  .form-control {
    max-width: none !important;
  }
  #gform_fields_3 {
    @extend .row;
  }
  #field_3_1, #input_3_1 {
    @extend .col-md-6;
    @include media-breakpoint-up(md) {
      margin-left: 0;
      margin-right: 100%;
    }
  }
  #field_3_2, #input_3_2 {
    @extend .col-md-6;
  }
  #field_3_3, #input_3_3 {
    @extend .col-md-6;
  }
  #field_3_4, #input_3_4 {
    @extend .col-md-6;
  }
  #field_3_5, #input_3_5 {
    @extend .col-md-6;
  }
  #field_3_6, #input_3_6 {
    @extend .col-md-6;
  }
  #field_3_7, #input_3_7 {
    @extend .col-md-6;
  }
  #field_3_8, #input_3_8 {
    @extend .col-md-6;
  }
  #field_3_9, #input_3_9 {
    @extend .col-md-6;
  }
  #field_3_10, #input_3_10 {
    @extend .col-md-6;
  }
  #field_3_11, #input_3_11 {
    @extend .col-md-6;
  }
  #field_3_12, #input_3_12 {
    @extend .col-md-12;
  }
  #field_3_13, #input_3_13 {
    @extend .col-md-12;
  }
  .gform_footer {
    @extend .col-md-12;
  }
}

#gform_submit_button_3 {
  @extend .btn;
  @extend .btn-primary;
}

#gform_4 {
  .form-control {
    max-width: none !important;
  }
  #gform_fields_4 {
    @extend .row;
  }
  #field_4_1, #input_4_1 {
    @extend .col-md-6;
  }
  #field_4_2, #input_4_2 {
    @extend .col-md-6;
  }
  #field_4_3, #input_4_3 {
    @extend .col-md-6;
  }
  #field_4_4, #input_4_4 {
    @extend .col-md-12;
  }
  #field_4_5, #input_4_5 {
    @extend .col-md-6;
  }
  #field_4_6, #input_4_6 {
    @extend .col-md-6;
  }
  #field_4_7, #input_4_7 {
    @extend .col-md-6;
  }
  #field_4_8, #input_4_8 {
    @extend .col-md-6;
  }
  #field_4_9, #input_4_9 {
    @extend .col-md-12;
  }
  #field_4_10, #input_4_10 {
    @extend .col-md-12;
  }
  #field_4_11, #input_4_11 {
    ul {
      padding-left: 0;
    }
    .gchoice_4_11_0, .gchoice_4_11_1 {
      @include media-breakpoint-down(md) {
        display: block !important;
      }
      @include media-breakpoint-up(md) {
        display: inline-block !important;
        margin-right: 20px;
      }
    }
    li label {
      display: inline-block !important;
      white-space: nowrap;
    }
    @extend .col-md-12;
  }
  #field_4_12, #input_4_12 {
    @extend .col-md-12;
  }
  #field_4_13, #input_4_13 {
    @extend .col-md-6;
  }
  #field_4_14, #input_4_14 {
    @extend .col-md-6;
  }
  #field_4_15, #input_4_15 {
    @extend .col-md-6;
  }
  #field_4_16, #input_4_16 {
    @extend .col-md-6;
  }
  #field_4_17, #input_4_17 {
    @extend .col-md-12;
  }
  #field_4_19, #input_4_19 {
    @extend .col-md-12;
  }
  #field_4_21, #input_4_21,
  #field_4_22, #input_4_22,
  #field_4_28, #input_4_28,
  #field_4_29, #input_4_29,
  #field_4_30, #input_4_30,
  #field_4_31, #input_4_31,
  #field_4_32, #input_4_32,
  #field_4_33, #input_4_33 {
    &.gfield_price {
      border-bottom: 1px solid rgba(74, 144, 226, 0.5);
    }
    padding-top: 10px;
    padding-bottom: 10px;
    .instruction {
      display: none;
    }
    .ginput_container_number {
      display: inline-block;
      margin: 0;
      position: absolute;
      right: 15px;
      input {
        padding: 0 15px !important;
        box-sizing: border-box;
        height: 30px !important;
        min-height: 30px !important;
        width: 88px !important;
        border-radius: 30px !important;

        color: $trueblue;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 1px;
        line-height: 19px;
        text-align: center;
      }
    }
    .gfield_label {
      display: inline-block !important;
      color: $gray;
      font-size: 13px;
      line-height: 15px;
      max-width: 75%;
    }
    @extend .col-md-12;
  }
  .gform_footer {
    @extend .col-md-12;
  }
}

#gform_submit_button_4 {
  @extend .btn;
  @extend .btn-primary;
  margin-right: 0 !important;
}

#gform_5,#gform_7 {
  .form-control {
    max-width: none !important;
  }
  #gform_fields_5,#gform_fields_7 {
    @extend .row;
  }
  #field_5_1, #input_5_1,
  #field_7_1, #input_7_1 {
    @extend .col-md-6;
  }
  #field_5_2, #input_5_2,
  #field_7_2, #input_7_2 {
    @extend .col-md-6;
  }
  #field_5_3, #input_5_3,
  #field_7_3, #input_7_3 {
    @extend .col-md-6;
  }
  #field_5_4, #input_5_4,
  #field_7_4, #input_7_4 {
    @extend .col-md-6;
  }
  #field_5_5, #input_5_5,
  #field_7_5, #input_7_5 {
    @extend .col-md-6;
  }
  #field_5_6, #input_5_6,
  #field_7_6, #input_7_6 {
    @extend .col-md-6;
  }
  #field_5_7, #input_5_7,
  #field_7_7, #input_7_7 {
    @extend .col-md-6;
  }
  #field_5_8, #input_5_8,
  #field_7_8, #input_7_8 {
    @extend .col-md-6;
  }
  #field_5_9, #input_5_9,
  #field_7_9, #input_7_9 {
    @extend .col-md-12;
  }
  .gform_footer {
    @extend .col-md-12;
  }
}

#gform_submit_button_5, #gform_submit_button_7 {
  @extend .btn;
  @extend .btn-primary;
  margin-right: 0 !important;
}

input.btn {
  cursor:pointer;
  font-family: $font-family-sans-serif !important;
}