.bg-gray {
  background-color: $gray;
}

.bg-black {
  background-color: $black;
}

.bg-paleblue {
  background-color: $paleblue;
}

.bg-gradientblue {
  background: $brightblue;
  background: -moz-linear-gradient(left, $brightblue 0%, $trueblue 100%);
  background: -webkit-linear-gradient(left, $brightblue 0%, $trueblue 100%);
  background: linear-gradient(to right, $brightblue 0%, $trueblue 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$brightblue', endColorstr='$trueblue', GradientType=1);
}

.lang-item {
  display:inline-block;
  line-height:$topbarHeight;
  &.current-lang a{
    opacity:0.3;
  }
  a {
    color: $gray-300;
    display:inherit;
    line-height: inherit;
  }
  &:first-child {
    a:after {
      content: ' / ';
    }
  }
}


.regionselector li {
  display:inline-block;
  line-height:$topbarHeight;
  &.active span{
    opacity:0.3;
  }
  a {
    color: $gray-300;
    display:inherit;
    line-height: inherit;
    &:hover {
      color:$brightblue;
    }
  }
  &:not(:first-child) {
    &:before {
      content: ' / ';
      margin-left:5px;
    }
  }
}

.btn-link {
  font-weight: bold;
  color: $gray-600;
  text-decoration: underline;
}

.btn:focus,.btn:active,
body .btn.btn-primary:focus,
body .btn.btn-primary:active
{
  box-shadow: 2px 2px 3px 0 rgba(21, 156, 212, 0.66) !important;
}

.btn-primary {
  color: $silver;
  border-radius: 25px;
  font-size: 20px;
  padding-left: 40px;
  padding-right: 40px;
  font-weight: normal !important;
  text-transform: none !important;
  line-height: 22px;
  background-color: $trueblue;
  box-shadow: 2px 3px 6px 0 rgba(21, 156, 212, 0.66);
  @include transition-all;
  &:hover {
    top: 1px;
    position: relative;
    box-shadow: 2px 2px 3px 0 rgba(21, 156, 212, 0.66);
  }
}

.btn-reverse {
  color: $trueblue;
  border-radius: 25px;
  font-size: 20px;
  padding-left: 40px;
  padding-right: 40px;
  font-weight: normal !important;
  text-transform: none !important;
  line-height: 22px;
  background-color: $silver;
  box-shadow: 2px 3px 6px 0 rgba(21, 156, 212, 0.66);
  &:hover {
    top: 2px;
    position: relative;
    box-shadow: 2px 0px 3px 0 rgba(21, 156, 212, 0.66);
  }
  &:active {
    box-shadow: 2px 2px 3px 0 rgba(21, 156, 212, 0.66) !important;
  }
}

.layout-text-image { //reverse order on smaller devices
  @include media-breakpoint-down(md) {
    .row {
      flex-direction: column-reverse;
    }
  }
}

.image-cell {
  @include media-breakpoint-down(lg) {
    margin-bottom: 40px;
    text-align: center !important;
  }
}

.text-cell {
  p {
    line-height: 30px;
  }
  .btn {
    @extend .mt-4;
  }
  @include media-breakpoint-down(lg) {
    text-align: center !important;
  }
  @include media-breakpoint-up(lg) {
    .text-lg-left {
      h3.h2 {
        width: 75%;
        margin-left: 0 !important;
        margin-right: auto !important;
      }
    }
    .text-lg-right {
      h3.h2 {
        width: 75%;
        margin-right: 0 !important;
        margin-left: auto !important;
      }
    }
  }
}

.reveal {
  @include media-breakpoint-down(md) {
    opacity:1;
  }
}

body, p, h1, h2, h3, h4, h5, p, a, div, span {
  font-family: Roboto !important;
}
sup {
  font-family: inherit;
  font-size:50%;
  top: -.75em;
}
h1, .h1 {
  font-size: 60px;
  line-height: 75px;
  color: $gray;
  font-weight: 300;
}

h2 {
  color: $gray;
  font-size: 40px;
  line-height: 50px;
  @include media-breakpoint-up(md) {
    line-height: 65px;
  }
  font-weight: 400;
}

h3 {
  color: $gray;
  font-family: Roboto;
  font-size: 30px;
  font-weight: 100;
  line-height: 37px;
  &.h2 {
    color: $gray;
    font-size: 40px;
    line-height: 53px;
    margin-bottom: 0;
    @include media-breakpoint-up(md) {
      margin-bottom: 40px;
    }
    &:after {
      content: "";
      display: block;
      display: block;
      width: 72px;
      background-color: $trueblue;
      height: 3px;
      position: absolute;
      margin-top: 20px;
      @include media-breakpoint-down(md) {
        position: relative;
        margin: 20px auto 20px auto;
      }
      .layout-text-image & {
        @include media-breakpoint-up(md) {
          right: 20px;
        }
      }
    }
    &.undercentered:after {
      position: relative !important;
      margin-left: auto;
      margin-right: auto;
    }
  }
  &.centered {
    &:after {
      display: none !important;
    }
  }
}

h4 {
  &.h3 {
    margin: 0 0 15px 0;
    color: $trueblue;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 16px;
    text-transform: uppercase;
    @include media-breakpoint-down(md) {
      margin-bottom: 20px;
    }
  }
  &.subsubtitle {
    color: $gray;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 300;
    line-height: 35px;
    margin: 20px 0 30px 0;
  }
}

.circlelink {
  display: block;
  color: #fff !important;
  text-align: center;
  width: 142px;
  cursor:pointer;
  margin: auto;
  font-weight: bold !important;
  .circletext {
    border: 2px solid #fff;
    width: 142px;
    height: 142px;
    border-radius: 142px;
    display: table;
    margin-bottom: 20px;
    overflow:hidden;
    span {
      padding: 0 20px;
      width: 142px;
      height: 142px;
      text-align: center;
      margin: 20px auto;
      font-size: 19px;
      font-weight: 300 !important;
      line-height: 26px;
      display: table-cell;
      vertical-align: middle;
      overflow:hidden;
    }
  }
}

.numbertitle {
  height: 35px;
  width: 35px;
  border: 1px solid $trueblue;
  border-radius: 35px;
  color: $trueblue;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 35px;
  text-align: center;
  margin: 20px auto;
}

.chartcol {
  color: $gray;
  font-family: Roboto;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.chartbg {
  background-image: url(../img/chartbg.png);
  background-color: $paleblue;
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 100% auto;
}

.checklist {
  @include media-breakpoint-up(md) {
    margin-top: 50px;
  }
  li {
    @include media-breakpoint-down(md) {
      text-align: left;
    }
    background: url(../img/check.png) no-repeat top left;
    color: #4A4A4A;
    font-family: Roboto;
    font-size: 16px;
    line-height: 31px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left:40px;
    @include media-breakpoint-up(md) {
      padding-left: 50px;
    }
    div {

    }
  }
}

.blurb, .blurb p {
  color: $gray;
  font-size: 30px;
  font-weight: 300;
  line-height: 52px;
  @include media-breakpoint-up(md) {
    font-size: 40px;
    line-height: 62px;
  }
  text-align: center;
}

.carousel-indicators {
  li {
    background-color: $trueblue;
    height: 12px;
    width: 12px;
    border-radius: 12px;
    margin: 12px;
    cursor: pointer;
    &.active {
      background-color: #fff;
    }
  }
}

p {
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
}

p.medium {
  text-size: 14px;
}

p.small {
  color: $palegray;
  font-size: 12px;
  line-height: 20px;
}

#testimonials {
  @include  transition-all();
  #testimonialslides, .carousel-item {
    @include  transition-all();
    height:auto;
  }
  p {
    color: #fff;
  }
  .carousel-indicators {
    top: 100%;
    margin-top: 20px;
  }
  .author {
    font-size: 14px;
    font-style: italic;
    a {
      color: #fff;
      font-style: normal;
      font-weight:bold;
      font-size:16px;
    }
  }
}

#studies {
  @include  transition-all();
  #testimonialslides, .carousel-item {
    @include  transition-all();
    height:auto;
  }
  p {
    color: #fff;
  }
  .carousel-indicators {
    top: 100%;
    margin-top: 20px;
  }
}

// Global styling for this template
body,
html {
  width: 100%;
  height: 100%;
  font-family: $font-family-sans-serif !important;
}

body {
  @include serif-font;
}

a:hover {
  text-decoration: none;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: $primary;
}

hr.light {
  border-color: $white;
}

a {
  color: $primary;
  @include transition-all;
  &:hover {
    color: darken($primary, .1);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include sans-serif-font;
}

.no-shadow {
  text-shadow: none;
  box-shadow: none;
}

.bg-primary {
  background-color: $primary !important;
}

.bg-dark {
  background-color: $gray-900 !important;
}

.text-faded {
  color: fade-out($white, .3);
}

section {

}

.section-heading {
  margin-top: 0;
}

::-moz-selection {
  color: $white;
  background: $gray-900;
  text-shadow: none;
}

::selection {
  color: $white;
  background: $gray-900;
  text-shadow: none;
}

img::selection {
  color: $white;
  background: transparent;
}

img::-moz-selection {
  color: $white;
  background: transparent;
}

body {
  -webkit-tap-highlight-color: $gray-900;
}

.card:not(.collapsable) {
  padding: 0;
  margin: 0 15px;
  border: none;
  border-radius: 0;
  background-color: #FFFFFF;
  box-shadow: 0 3px 7px 0 rgba(179, 229, 245, 0.55);
  &.borderless {
    box-shadow: none;
  }
  margin-bottom:30px;
  .card-body {
    padding: 30px;
  }
  .card-footer {
    border:0;
    background:#fff;
    padding-bottom:20px;
    .btn-link {
      color: $trueblue;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 2px;
      line-height: 16px;
      text-decoration: none;
      displayt:block;
      padding:10px;
    }
  }
  h6 {
    color: $trueblue;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 16px;
    &.subtitle {
      color: $gray;
      font-size: 18px;
      font-weight: bold;
      line-height: 21px;
      text-transform: none;
      letter-spacing: normal;
      margin-bottom: 15px;
    }
  }
  h5 {
    margin-top: 20px;
    color: $gray;
    font-size: 24px;
    font-weight: bold;
    &.fiche {
      font-weight: normal;
    }
  }
  ul {
    padding-left: 0px;
    margin: 30px;
  }
  li {
    margin-bottom: 5px;
    color: $trueblue;
    span {
      color: $gray;
    }
  }
}
$plusradius:28px;
.card.collapsable {
  box-shadow: none;
  border: none;
  border-radius: 0;
  .card-header {
    background:#fff;
    padding-top:20px;
    a {
      font-weight:normal;
      font-size: 20px;
      line-height: 24px;
      color: $trueblue;
      &:after {
        content: ' - ';
        color: #fff;
        display:inline-block;
        position:absolute;
        right:15px;
        background: $trueblue;
        width:$plusradius;
        height:$plusradius;
        border-radius:$plusradius;
        border:1px solid $trueblue;
        text-align: center;

      }
      &.collapsed {
        color: $gray;
        &:after {
          background:#fff;
          width:$plusradius;
          height:$plusradius;
          border-radius:$plusradius;
          display:inline-block;
          position:absolute;
          right:15px;
          color: $trueblue;
          content: ' + ';
        }
      }
    }
  }
  .card-body {
    background:$paleblue;
    color: #000000;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
  }
}

.overedge, .underedge {
  left: 10%;
  width: 400px;
  position: absolute;
  @include media-breakpoint-down(xl) {
    width: 350px;
    @include media-breakpoint-down(md) {
      left: 50%;
      width: 300px;
      margin-left: -150px;
    }
  }
}

.underedge {
  margin-top: -100px;
  @include media-breakpoint-down(md) {
    margin-top: -80px;
  }
}

.overedge {
  margin-top: -160px;
  @include media-breakpoint-down(md) {
    margin-top: -120px;
  }
}

#map {
  width: 100%;
  height: 200px;
  @include media-breakpoint-up(md) {
    height: 450px;
  }
}

.vertical-alignment-helper {
  display:table;
  height: 100%;
  width: 100%;
  pointer-events:none; /* This makes sure that we can still click outside of the modal to close it */
}
.vertical-align-center {
  /* To center vertically */
  display: table-cell;
  vertical-align: middle;
  pointer-events:none;
}
.modal-content {
  /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
  width:inherit;
  max-width:inherit; /* For Bootstrap 4 - to avoid the modal window stretching full width */
  height:inherit;
  /* To center horizontally */
  margin: 0 auto;
  pointer-events: all;
  border-radius:0;
  padding-bottom:40px;
  h5 {
    color: #1131A3;
    font-size: 24px;
    font-weight: 300;
    line-height: 28px;
    margin-bottom:30px;
  }
  .icon {
    min-height:200px;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.modal-header {
  border:none;
  padding:30px 30px 0 30px;
  justify-content: flex-end;
  .close {
    display:inline-block;
    width:30px;
    height:30px;
    &:after {
      text-align: right;
      font-family: 'icomoon';
      font-size:30px;
      content: "\e905";
      display: block;
    }
  }
}

.modal-mdlg {
  max-width: 600px;
}

.modal-body {
  padding:30px;
}

.fade-scale {
  transform: scale(0);
  opacity: 0;
  -webkit-transition: all .25s linear;
  -o-transition: all .25s linear;
  transition: all .25s linear;
}

.fade-scale.show {
  opacity: 1;
  transform: scale(1);
}

.w-240 {
  width:100%;
  @include media-breakpoint-up(lg) {
    width: 240px;
  }
}

#design-to-help {
  .text-cell.col-lg-6.col-xxl-5 {
    @extend .col-lg-8;
    @extend .col-xxl-6;
  }
  .image-cell.col-lg-6.col-xxl-5.text-lg-left {
    @extend .col-lg-4;
    @extend .col-xxl-4;
  }
}

.max-height-600 {
  max-height:600px;
}

#formarea {
  >.form_wrapper, >.gform_wrapper {
    margin-top:0;
  }
}


ul#menu-sitemap {
  margin: 0px 0px 0px 20px;
  list-style: none;
  list-style-type: none;
  line-height: 2em;
  ul {
    list-style: none;
    list-style-type: none;
  }
  li{
    font-size: 16px;
    position: relative;
    &:before{
      position: absolute;
      left: -15px;
      top: 0px;
      content: '';
      display: block;
      border-left: 1px solid #ddd;
      height: 1em;
      border-bottom: 1px solid #ddd;
      width: 10px;
    }

    &:after{
      position: absolute;
      left: -15px;
      bottom: -7px;
      content: '';
      display: block;
      border-left: 1px solid #ddd;
      height: 100%;
    }

    &.sublist{
      margin: 0px 0px 0px -20px;
      &:before{
        display: none;
      }

      &:after{
        display: none;
      }


    }


    &:last-child{
      &:after{ display: none }
    }
  }
}

.gform_confirmation_wrapper {
  margin-top:20px;
}

.desktop-only {
  display:none;
  @include media-breakpoint-up(lg) {
    display:block;
  }
}

.mobile_lang {
  text-transform:uppercase;
}

body.search {
  #heading {
    display: none;
  }
}

/********** REGION SELECTOR ***********/
.nav-region {
  justify-content: center;
  margin: 0 auto;
  display: inline-block;
  border-radius: 100px;
  border: 1px solid #1453bf;
  background-color: #fff;
  height: 46px;
  padding: 0;
  overflow: hidden;
  @include media-breakpoint-down(xs) { margin-top: 50px; }
}

.nav-region .nav-region-link {
  color: #0663a3;
  width: auto;
  background-color: #fff;
  line-height: 46px;
  font-size: 16px;
  padding: 0 20px;
  text-transform: none;
  border: none;
  outline: none;
}

#choisirregion {
  @include media-breakpoint-down(xs) { margin-top: 30px; }
}

.nav-region .active {
  background-color: #55c9e9 !important;
  color: #fff !important;
}

#indications-contraindications #navigation-region {
  @include media-breakpoint-down(xs) { margin-bottom: 1rem !important; }
}

#northamerica h5 {
  @include media-breakpoint-down(xs) { text-align: left !important; margin-left: 15px;}
}


#international h5 {
  @include media-breakpoint-down(xs) { text-align: left !important; margin-left: 15px;}
}

#northamerica{
  @include media-breakpoint-up(xl) {
    padding: 0 12rem;
  }
}

#international {
  @include media-breakpoint-up(xl) {
    padding: 0 12rem;
  }
}