@mixin menu-mobile($from,$to) {
  .active .nav-link {
    color: $brightblue;
  }
  .navbar-brand, .nav-link, .dropdown-item {
    background: none;
    color: #000;
    font-size: 16px;
  }
  .navbar-brand, .dropdown-item {
    padding: 10px 0;
  }
}

#siteheader {
  z-index: 999;
  min-height: 70px;
  background: #fff;
}

.hamburger {
  padding: 0 !important;
  &:before {
    font-family: icomoon;
    content: "\e902";
  }
}

#pagenav {
  width: 100%;
  @include media-breakpoint-down(md) {
    margin-bottom:20px;
    #pagenavmenu {
      padding-top:20px;
    }
  }
  .nav {
    width: 100%;
    height: 1px;
    overflow: hidden;
    &.show {
      height: auto;
      margin-bottom: 30px;
    }
    a {
      width: 100%;
      display: block;
      color: #000;
      font-size: 16px;
      padding: 10px 30px 10px 30px !important;
      &:nth-child(odd) {
        background: $paleblue;
      }
    }
  }
}

.btn-nav {
  outline: none !important;
  box-shadow: none !important;
  color: #fff;
  background: $primary;
  cursor: pointer;
  line-height: 70px;
  padding: 0 30px;
  text-transform: none !important;
  font-weight: normal !important;
  text-align: left;
  border-radius: 0 !important;
  width: 100%;
  &:after {
    font-family: icomoon;
    content: "\e905";
    position: absolute;
    right: 30px;
    font-size: 30px;
  }
  &.collapsed {
    &:after {
      content: '\e902';
    }
  }
}

#topbar {
  display: none;
}

.navbar-toggler {
  display: block !important;
  position: absolute;
  right: 20px;
  top: 20px;
  transform: rotate(-90deg);
  z-index: 9999;
  &.collapsed {
    transform: rotate(0deg);
  }
}

#mainNav {
  //height:$headerbarmobile;
  background: #fff;
  padding: 0;
  //box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  flex-wrap: wrap !important;
  > .container {
    flex-wrap: wrap !important;
  }
}

#navbarResponsive {
  @include transition-all();
  display: block;
  &.show {
    flex-direction: column !important;
    margin-top: $headerbarmobile;
    margin-bottom: 20px;
    display: block !important;
    display: flex !important;
    body.flexbox & {
      display: flex !important;
    }
    ul {
      display: block;
      @include fadein(0.5s);
      opacity: 1;
    }

  }
  ul {
    li:nth-child(odd) {
      background: $paleblue;
    }
  }
  ul {
    opacity: 0;
  }
}

#menu-main-menu,#menu-main-menu-fr {
  height: $headerbarmobile;
  flex-direction: column;
  .show & {
    height: auto;
    @include menu-mobile($gray, $brightblue);
    min-height: 34px;
    li {
      font-size: 16px;
      margin-left: 0 !important;
      padding-left: 30px;
      white-space: nowrap;
      a {
        display: block;
        line-height: 34px;
        padding: 0 20px;
      }
    }
  }
}

#menu-submenu,#menu-submenu-fr {
  height: 1px;
  flex-direction: column;
  .show & {
    display: block; //IE
    display: flex;
    height: auto;
    @include menu-mobile($palegray, $brightblue);
    margin-bottom: 15px;
    li {
      white-space: nowrap;
      margin-left: 0 !important;
      padding-left: 30px;
      a {
        display: block;
        line-height: 34px;
        padding: 0 20px;
      }
    }
  }
}

.navbar-brand {
  padding: 0;
  @extend .ml-0;
  padding-left: 20px;
  min-height: 70px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9998;
  img {
    margin: 15px 0;
    width: 100%;
    height: auto;
    max-width: 143px;
  }
}

.headerspaced {
  margin-top: $headerbarmobile;
}

#heading {
  margin-top: 70px;
  overflow-x: hidden;
  body.page-template-page-careers &,
  body.single-post & {
    height: $headingheight2;
  }
  body.page-template-page-healthcareinstitutions & {
    @include media-breakpoint-down(md) {
      background-position: left center;
      max-height:150px !important;
    }
  }
  body.page-template-page-frequencer & {
    @include media-breakpoint-down(md) {
      background-image:none !important;
      background: $brightblue !important;
      background: -moz-linear-gradient(left, $brightblue 0%, $trueblue 100%) !important;
      background: -webkit-linear-gradient(left, $brightblue 0%, $trueblue 100%) !important;
      background: linear-gradient(to right, $brightblue 0%, $trueblue 100%) !important;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$brightblue', endColorstr='$trueblue', GradientType=1) !important;
    }
  }

  &.heading, .carousel-item > section.heading {
    .heading {
      opacity: 0;
      body.page-template-page-about &,
      body.page-template-page-patientscaregivers &,
      body.page-template-page-home & {
        opacity:1;
        text-align: center;
        p {
          text-align: center;
        }
        .frequencerlogo {
          margin-left:auto !important;
          margin-right:auto !important;
        }
        h2 {
          @include media-breakpoint-down(md) {
            margin-top: 20px;
            font-size: 20px;
            line-height: 24px;
            text-align: center;
          }
        }
      }
      body.page-template-page-frequencer & {
        @include media-breakpoint-down(md) {
          opacity: 1 !important;
          h1 {
            display: none;
          }
          .frequencer-heading {
            text-align: center !important;
          }
          #frequencerlogo {
            margin-left: auto !important;
            margin-right: auto !important;
          }
        }
      }
    }
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #fff;
    .container {
      height: 100%;
      > .row {
        @extend .align-items-center;
        height: 100%;
      }
    }
    .about-heading {
      h1 {
        font-size: 60px;
        line-height: 75px;
        color: $gray;
        font-weight: 300;
        max-width: 400px;
        text-align: center;
        margin: auto;
        text-shadow: 0px 0px 40px rgba(255, 255, 255, 1);
      }
      .frequencerlogo {
        max-width: 286px;
        margin: 30px auto 75px auto;
      }
    }
    .career-heading {
      h1 {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        color: $gray;
        font-weight: 500;
        font-size: 48px;
        line-height: 56px;
      }
    }
    .frequencer-heading {
      h1 {
        font-size: 48px;
        line-height: 69px;
        color: $gray;
        font-weight: 300;
        text-align: left;
        margin: auto;
        @extend .ml-5;
      }
      .frequencerlogo {
        max-width: 260px;
        margin: 30px auto 30px auto;
        @extend .ml-5;
      }
    }
    .pro-heading {
      opacity: 0;
    }
    .institution-heading {
      h1 {
        font-size: 48px;
        line-height: 69px;
        color: $gray;
        font-weight: 300;
        max-width: 500px;
        text-align: left;
        @extend .ml-0;
      }
      .frequencerlogo {
        max-width: 208px;
        margin: 0 auto 30px auto;
        @extend .ml-0;
        margin-bottom: 300px;
      }
    }
    .patients-heading {
      h2 {
        font-size: 36px;
        line-height: 63px;
        color: $gray;
        font-weight: 300;
        max-width: 450px;
        text-align: center;
        margin-right: 0 !important;
      }
    }
  }
  .carousel-inner, .carousel-item, .carousel-item > section.heading {
    height: 100%;
    .container {
      min-height: inherit;
      .row {
        min-height: inherit;
        > div {
          text-align: center;
        }
        h2 {
          position: relative;
          color: $silver;
          &.massive {
            text-align: center;
            padding: 0;
            font-size: 80px;
            margin: 40px auto 0 auto !important;
            font-weight: bold;
          }
        }
        p {
          max-width: 100%;
          font-size: 16px;
          font-weight: 300;
          line-height: 28px !important;
          color: #ffffff;
          position: relative;
          padding-left: 20px;
          padding-right: 20px;
        }
        .btn {
          margin-bottom: 60px;
        }
        .frequencerlogo {
          margin-bottom: 15px;
          max-width: 150px;
        }
        .machine {
          width: 100%;
          max-width: 550px;
          margin: 0 auto;
        }
      }
    }
  }
}

.icon-facebook, .icon-linkedin {
  display: inline-block;
  color: $silver;
  height: 52px;
  width: 30px;
  border-radius: 30px;
  line-height: 52px;
  margin-left: 14px;
  font-weight: 100;
  &:before {
    font-weight: 100;
    font-size: 30px;
    line-height: 52px;
    height: 52px;
    font-family: icomoon;
  }
}

.icon-facebook:before {
  content: "\e901";
}

.icon-linkedin:before {
  content: "\e903";
}

.mobile_lang {
  position: absolute;
  right: 70px;
  top: 24px;
  a {
    display: inline-block;
    margin: 0 2px;
    text-transform: uppercase;
  }
}