@mixin menu-desktop($from,$to) {
  .active .nav-link {
    color: $brightblue;
  }
  @include media-breakpoint-up(lg) {
    .navbar-brand, .nav-link, .dropdown-item {
      padding: 0 !important;
      color: $from;
      @include colorTocolor($from, $to, 0.5s);
      &:before {
        color: $from;
        @include colorTocolor($from, $to, 0.5s);
      }
      &:hover {
        color: $brightblue;
        @include colorTocolor($to, $from, 0.5s);
        &:before {
          color: $brightblue;
          @include colorTocolor($to, $from, 0.5s);
        }
      }
    }
  }
}

.pagenav-container {
  @include media-breakpoint-up(lg) {
    height: 150px;
    body.page-template-page-healthcareinstitutions & {
      height:auto;
    }
  }
}

#pagenav {
  @include media-breakpoint-up(lg) {
    button {
      display: none;
    }
    text-align: center;
    z-index: 998;
    .wrapper {
      margin-left: auto;
      margin-right: auto;
      display: inline-block;
      .nav {
        &.show {
          display: flex !important;
        }
        margin-left: auto;
        margin-right: auto;
        border-radius: 100px;
        border: 1px solid #1453bf;
        background-color: #fff;
        height: 46px;
        padding: 0;
        overflow: hidden;
        .nav-link {
          width: auto;
          background-color: #fff;
          line-height: 46px;
          height: 46px;
          color: #0663A3;
          font-family: Roboto;
          font-size: 16px;
          padding: 0 20px !important;
          text-transform: none;
          &:first-child {
            border-radius: 100px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
          }
          &:last-child {
            border-radius: 100px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
          }
          &.active {
            background-color: #55C9E9;
            color:#fff;
          }
        }
      }
    }
    &.affix {
      position: fixed;
      /*
      animation:snapIt 0.4s;
      -moz-animation:snapIt 0.4s;
      -webkit-animation:snapIt 0.4s;
      */
      top: $headerbar+20;
    }
  }
}

html.flexbox { //only flex enabled browsers. So ignore by IE9/10
  #topbar {
    @include media-breakpoint-up(lg) {
      background-color: $gray;
      display: block;
      height: $topbarHeight;
      color: $silver;
      font-size: 14px;
      .col-4.mr-auto {
        position: relative;
        .phone {
          color: $silver;
          padding-left: 30px;
          &:before {
            position: absolute;
            left: 15px;
            top: -8px;
            font-size: 24px;
            font-family: icomoon;
            content: "\e900";
          }
        }
      }
      .row {
        height: $topbarHeight;
        > div {
          max-height: 52px;
        }
      }
      .lang_switcher {
        display: inline-block;
        padding: 0 5px;
        text-transform: uppercase;
        color: $silver;
        line-height: 52px;
      }
      #searchform {
        display: inline-block !important;
        margin-top: 5px;
        width: 180px;
        margin-right: 40px;
        input {
          background-color: $gray;
          //@include bgcolorTobgcolor(#333, $gray, 0.5s);
          border: none;
          font-size: 14px;
          color: $silver;
          text-align: right !important;
          &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            font-size: 14px;
            color: $silver;
          }
          &::-moz-placeholder { /* Firefox 19+ */
            font-size: 14px;
            color: $silver;
          }
          &:-ms-input-placeholder { /* IE 10+ */
            font-size: 14px;
            color: $silver;
          }
          &:-moz-placeholder { /* Firefox 18- */
            font-size: 14px;
            color: $silver;
          }
        }
        #searchbtn {
          position: absolute;
          z-index: 3;
          cursor: pointer;
          opacity: 0;
          background-color: #333 !important;
          box-shadow: none !important;
          width: 40px !important;
          height: 35px;
          padding: 0;
          right: 12px;
          &:hover {
            background-color: transparent !important;
          }
        }
        &:after {
          color: $silver;
          font-family: icomoon;
          content: "\e904";
          font-size: 20px;
          top: 10px;
          right: 25px;
          position: absolute;
          z-index: 2;
        }
      }
      &:hover {
        #searchform input[type="text"] {
          background-color: #333;
          @include bgcolorTobgcolor($gray, #333, 0.5s);
        }
      }
    }
  }

  .navbar-toggler {
    @include media-breakpoint-up(lg) {
      display: none !important;
    }
  }

  #mainNav {
    @include media-breakpoint-up(lg) {
      height: $mainNavHeight;
      flex-wrap: nowrap !important;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
      > .container {
        height: $mainNavHeight;
        position: relative;
        top: 0;
        flex-wrap: inherit !important;
      }
    }
  }

  #navbarResponsive {
    @include media-breakpoint-up(lg) {
      &.show {
        margin-top:0;
        margin-bottom:0;
      }
      flex-direction: column-reverse !important;
      ul {
        opacity: 1;
        li {
          margin-left: 25px !important;
        }
        li:nth-child(odd) {
          background: none;
        }
      }
    }
  }

  #menu-main-menu, #menu-main-menu-fr {
    @include menu-desktop($gray, $brightblue);
    @include media-breakpoint-up(md) {

      height:auto;
      flex-direction: row;
      li {

        padding-left: 0;
      }
    }
    @include media-breakpoint-up(lg) {
      display:flex;
      li {
        a {
          display: block;
          line-height: 34px;
        }
        @include underliner($brightblue, 1px, 0);
      }
    }
  }

  #menu-submenu,  #menu-submenu-fr {
    @include media-breakpoint-up(lg) {
      display:flex;
      flex-direction: row;
      min-height: 34px;
      height: auto;
      max-height: 34px;
      margin: 0;
      li {
        height: 34px;
        @include underliner($brightblue, 1px, 0);

      }
    }
    @include media-breakpoint-up(md) {
      li {
        a {
          display: block;
          line-height: 34px !important;
          padding: 0 !important;
          color: $palegray !important;
          font-size: 13px !important;
          font-weight: 300;
        }
        padding-left: 0;
      }
    }
  }

  .navbar-brand {
    @include media-breakpoint-up(lg) {
      padding: 0;
      max-width: 237px;
      position:relative;
      top:auto;
      left:auto;
      img {
        max-width: 237px;
        margin: 0;
      }
    }
  }

  .headerspaced {
    @include media-breakpoint-up(lg) {
      margin-top: $headerbar;
    }
  }

  .headersized {
    @include media-breakpoint-up(lg) {
      min-height: $headingheight;
      margin-top: $headerbar;
    }
  }

  body.page-template-page-careers, body.single-post {
    @include media-breakpoint-up(lg) {
      #heading {
        height: $headingheight2 !important;
      }
    }
  }

  #heading {
    @include media-breakpoint-up(lg) {
      margin-top: $headerbar;
      height: $headingheight;
      #frequencermachine {
        display:none;
      }
      .machine {
        z-index:900;
      }
    }
    @include media-breakpoint-up(md) {

      .machine {
        z-index:900 !important;
      }
      .about-heading {
        h1 {
          text-align: left !important;
        }
      }
      &.heading,.heading {
        opacity: 1 !important;
        .pro-heading {
          opacity: 1 !important;
          padding-bottom: 200px;
          h1 {
            font-size: 48px;
            line-height: 69px;
            color: $gray;
            font-weight: 300;
            max-width: 450px;
            text-align: left;
          }
          .frequencerlogo {
            max-width: 239px;
            margin: 30px auto 30px auto;
          }
        }
      }
      .carousel-inner, .carousel-item {
        .container {
          .row {
            > div {
              text-align: justify;
            }
            .frequencerlogo {
              position: relative;
              display: block;
              margin-left: 20px;
              margin-bottom: 15px;
              max-width: 179px;
            }
            @include media-breakpoint-up(lg) {
              h2 {
                &.massive {
                  margin: 0;
                  height: 275px;
                  font-size: 250px;
                  letter-spacing: 9px;
                  line-height: 293px;
                }
              }
              p {
                max-width: 400px;
                font-size: 20px;
                font-weight: 300;
                line-height: 36px;
                color: #000000;
              }
              .machine {
                position: absolute;
                z-index: -1;
                right: 0px;
                margin-top: -40px;
                @include media-breakpoint-up(xl) {
                  right: -100px;
                  margin-top: -40px;
                }
              }
            }
          }
        }
      }
    }
  }

  .mobile_lang {
    @include media-breakpoint-up(lg) {
      display: none;
    }
  }

}