$logowidth : 120px;
$logoheight: 120px;
$speed: 2.5s;

.minimalload {
  background:#fff;
}
.minimaltransition {
  position:fixed;
  width: 100vw;
  height: 100vh;
  z-index:-900;
  background:#fff;
  opacity:0.7;
  top:0;
  .spin {
    position: fixed;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: $logowidth;
    height: $logoheight;
    margin-top:-($logoheight/2);
    margin-left:-($logowidth/2);
    background:url(../img/logo/apple-icon-120x120.png);
    border-radius: 50%;
    text-align: center;

    -webkit-animation: pace-theme-center-circle-spin linear infinite $speed;
    -moz-animation: pace-theme-center-circle-spin linear infinite $speed;
    -ms-animation: pace-theme-center-circle-spin linear infinite $speed;
    -o-animation: pace-theme-center-circle-spin linear infinite $speed;
    animation: pace-theme-center-circle-spin linear infinite $speed;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  @-webkit-keyframes pace-theme-center-circle-spin {
    from { -webkit-transform: rotateY(0deg) }
    to { -webkit-transform: rotateY(360deg) }
  }

  @-moz-keyframes pace-theme-center-circle-spin {
    from { -moz-transform: rotateY(0deg) }
    to { -moz-transform: rotateY(360deg) }
  }

  @-ms-keyframes pace-theme-center-circle-spin {
    from { -ms-transform: rotateY(0deg) }
    to { -ms-transform: rotateY(360deg) }
  }

  @-o-keyframes pace-theme-center-circle-spin {
    from { -o-transform: rotateY(0deg) }
    to { -o-transform: rotateY(360deg) }
  }

  @keyframes pace-theme-center-circle-spin {
    from { transform: rotateY(0deg) }
    to { transform: rotateY(360deg) }
  }
}