// Mixins
@mixin transition-all() {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
@mixin background-cover() {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@mixin serif-font() {
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}
@mixin sans-serif-font() {
  font-family: $font-family-sans-serif;
}

//@extend spinit(0,-90deg,4000ms);
@mixin spinit($from,$to,$speed){
  -webkit-animation-name: spin;
  -webkit-animation-duration: $speed;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;

  -moz-animation-name: spin;
  -moz-animation-duration: $speed;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: linear;

  -ms-animation-name: spin;
  -ms-animation-duration: $speed;
  -ms-animation-iteration-count: 1;
  -ms-animation-timing-function: linear;

  animation-name: spin;
  animation-duration: $speed;
  animation-iteration-count: 1;
  animation-timing-function: linear;

  @-ms-keyframes spin {
    from {
      -ms-transform: rotate($from);
    } to {
        -ms-transform: rotate($to);
      }
  }
  @-moz-keyframes spin {
    from {
      -moz-transform: rotate($from);
    } to {
        -moz-transform: rotate($to);
      }
  }
  @-webkit-keyframes spin {
    from {
      -webkit-transform: rotate($from);
    } to {
        -webkit-transform: rotate($to);
      }
  }
  @keyframes spin {
    from {
      transform: rotate($from);
    } to {
        transform: rotate($to);
      }
  }
}