// Variables

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$paleblue: #F6FCFE !default;
$brightblue: #55C9E9 !default;
$trueblue: #037DD0 !default;
$gray: #4A4A4A !default;
$palegray: #8E8E8E !default;
$primary: $brightblue;
$silver: #F8FAFD !default;
$lightgray: #9B9B9B !default;

$zindex-modal: 99999 !default;

$mainNavHeight:123px;
$topbarHeight:52px;
$headerbar : $mainNavHeight + $topbarHeight;
$headerbarmobile : 70px;

$headingheight: 638px;
$headingheight2: 350px;

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1600px
) !default;
$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1150px,
        xxl: 1500px
) !default;


