// Import Bootsrap classes and mixins from parent theme

@font-face {
  font-family: 'icomoon';
  font-style: normal;
  font-weight: 400;
  src: local('icomoon'), local('icomoon'), url(../fonts/icomoon.woff) format('woff');
}

@import "variables";
@import "../../../minimal-bootstrap/assets/css/style.scss";

// Site specific
@import "mixins";
@import "fonts";
@import "general";
@import "loader";
@import "header-mobile"; //mobile and old IE desktop
@import "header-desktop"; //modern desktops
@import "footer";
@import "forms";
@import "masthead";
@import "bootstrap-overrides";
@import "../../../minimal-bootstrap/assets/css/emerge";
@import "_hamburgers/hamburgers/hamburgers.scss";
